html { 
    box-sizing: border-box;
    font-size: 17px;
}
    
*, *:before, *:after { 
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;    
}

.main, .footer, .header {
    padding: 20px;
    
}


.icon {
    max-height: 100%; object-fit: contain; justify-content: center; 
}

.banner {
    
    padding:20px
}

.logo-icon, .menu-buttons, .social-icons {
    
    flex-grow: 1;
}

.menu-buttons {
    flex-grow: 4;
}

.articles-section {
    background-color: #4e4e6a;
}

.item {
    flex-grow: 1;
    background-color: #1f6cb0;
    margin-bottom: 20px;
}
.main {
    display: flex;
    padding: 20px;
}

.articles-section {
    flex-grow: 2;
    margin-right: 20px;
    padding: 30px;
}

.articles {
    display: flex;
    gap: 20px;
}

.info-aside {
    flex-grow: 1;
    padding: 30px;
    background-color: #f73f52;
}

.info {
    background-color: #feea85;
    margin-bottom: 10px;
}

.menu {
    font-size: 1rem;
    list-style-type: none;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles-footer {
    background-color: #70a3c4;
}

.banner-fill {
    background-color: #fed460;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* TABLET VERSION */
@media only screen and (max-width: 768px) and (min-width: 600px){

.main{
    background-color: #feff03;
    display: flex;
    flex-direction: column;
}

.articles-section {
    margin-right: 0px;
    margin-bottom: 20px;
}

}

@media only screen and (max-width: 600px){
.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main {
 display: flex;
 flex-direction: column;
 background-color: #fee228;
}

section {
    margin-right: 0px;
    margin-bottom: 20px;
}

.articles-section {
    margin-bottom: 20px;
    margin-right: 0px;
    background-color: #09506f;
}

.articles {
    margin-bottom: 20px;    
    flex-direction: column;
}

.item{
    background-color: #62959c;
}

.articles-footer {
    background-color: #a3ddcb;
}

.info-aside {
    background-color: #fd7b54;
    
}

.info {
    background-color: #fdb36b;
    margin-bottom: 20px;
    flex-direction: column;
    }
}